@page "/admin/employeesreport"

@using MediMove.Client.temp;
@using MediMove.Shared.Models.DTOs
@using MediMove.Client.Services
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@using System.ComponentModel.DataAnnotations;
@using Radzen.Blazor
@inject MediMoveAuthenticationStateProvider _stcateProvider
@inject EmployeeService _employeeService
@inject NavigationManager _navigationManager

<Popup @ref="popup" />

<h3>AdminEmployeeReport</h3>

@*<form>
    <label for="monthPicker">Select Month and Year:</label>
    <input type="month" id="monthPicker" name="monthPicker" />
    <input type="submit" value="Submit" />
</form>*@

<div class="form-group" style="display:flex">
    <div class="input-group">
        <RadzenLabel Text="Start Time" Associated="startTime" />
        <RadzenDatePicker @bind-Value="@startTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="End Time" Associated="endTime" />
        <RadzenDatePicker @bind-Value="@endTime" ShowTime="false" DateFormat="dd.MM.yyyy" Max = "DateTime.Today" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="Start Payments Sum" />
        <RadzenNumeric TValue="decimal" Format="0.00 zł" @bind-Value=@startPaymentsSum />
    </div>

    <div class="input-group">
        <RadzenLabel Text="End Payments Sum" />
        <RadzenNumeric TValue="decimal" Format="0.00 zł" @bind-Value="@endPaymentsSum" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="Start Payments Hours" />
        <RadzenNumeric TValue="decimal" Format="0 h" @bind-Value="@startPaymentsHours" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="End Payments Hours" />
        <RadzenNumeric TValue="decimal" Format="0 h" @bind-Value="@endPaymentsHours" />
    </div>
</div>
<div>
    <RadzenButton class="btn btn-primary" Text="Show Results" Click="@Refresh" />
</div>

@if (everythingSelected)
{
    <div style="display: flex; align-items: center; margin-bottom: 16px">
        <RadzenButton Click="@ClearSelection" Text="Clear Selection" />
        @if (selectedEmployee?.Any() == true)
        {
            <div style="margin-left: 16px">
                Selected Employee: @selectedEmployee[0].FirstName @selectedEmployee[0].LastName
            </div>
        }
    </div>
    <div>
        <RadzenDataGrid TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" 
                    PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" Data="@allPatients?.Rows" AllowFiltering="true"
                    AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@selectedEmployee">
            <Columns>
                <RadzenDataGridColumn TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" Property="Id" Title="ID" />
                <RadzenDataGridColumn TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" Property="FirstName" Title="First Name" />
                <RadzenDataGridColumn TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" Property="LastName" Title="Last Name" />
                <RadzenDataGridColumn TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" Property="PhoneNumber" Title="Phone Number" />
                <RadzenDataGridColumn TItem="GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow" Property="SalarySum" Title="Salary Sum" />
              @* <Template Context="detail">
                    <RadzenLabel Text="@detail.SalarySum.ToString("C", new System.Globalization.CultureInfo("pl-PL"))" />
                </Template>*@
            </Columns>
        </RadzenDataGrid>
    </div>
}
@if (selectedEmployee?.Any() == true)
{
    <div>
        <RadzenButton class="btn btn-primary" Text="Show data" Click="@FetchData" />
    </div>
    @if(isFetched == true)
    {
        <div>
            <RadzenDataGrid TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow"
            Data="@currentParamedic?.Rows" AllowFiltering="true" PageSize="3" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
            AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" SelectionMode="DataGridSelectionMode.Single" >
                <Columns>
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="Id" Title="ID" />
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="FirstName" Title="First Name" />
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="LastName" Title="Last Name" />
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="Month" Title="Month" />
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="Year" Title="Year" />
                    <RadzenDataGridColumn TItem="GetEmployeeRatesByIdAndDatesDTO.GetEmployeeRatesByIdAndDatesRow" Property="SalarySum" Title="Salary Sum" />
                    @* <Template Context="detail">
            <RadzenLabel Text="@detail.SalarySum.ToString("C", new System.Globalization.CultureInfo("pl-PL"))" />
            </Template>*@
                </Columns>
            </RadzenDataGrid>
        </div>
    }
}
@code {
    private DateTime startTime = DateTime.Today;
    private DateTime endTime = DateTime.Today;
    private decimal startPaymentsSum = (decimal)0;
    private decimal endPaymentsSum = (decimal)0;
    private decimal startPaymentsHours = (decimal)0;
    private decimal endPaymentsHours = (decimal)0;
    private bool everythingSelected = false;
    private bool isFetched = false;
    IList<GetEmployeesInMonthByHoursAndSalaryDTO.GetEmployeesInMonthByHoursAndSalaryRow> selectedEmployee;

    private GetEmployeesInMonthByHoursAndSalaryDTO allPatients;
    private GetEmployeesInMonthByHoursAndSalaryDTO allEmployeesInMonthByHoursAndSalaryResponse;// Replace with the appropriate type and initialization
                                                                                               //private CreatePatientRequest createPatientDTO = new CreatePatientRequest();
    private GetEmployeeRatesByIdAndDatesDTO paramedicResponse;
    private GetEmployeeRatesByIdAndDatesDTO currentParamedic;

    private Popup popup = new();

    private string message = "";
    void ClearSelection()
    {
        selectedEmployee = null;
        isFetched = false;
        StateHasChanged();
    }
    private void CheckSelection()
    {
        //if (!startTime.Equals("") && !endTime.Equals("") && startPaymentsHours != (decimal)0 && endPaymentsHours != (decimal)0 && startPaymentsSum != (decimal)0 && endPaymentsSum != (decimal)0)

        if (endTime < startTime || endPaymentsHours < startPaymentsHours || endPaymentsSum < startPaymentsSum)
        {
            if (endTime < startTime)
            {
                selectedEmployee = null;
                everythingSelected = false;
                message += "EndTime should be further in the future than StartTime\n";
            }
            if (endPaymentsHours < startPaymentsHours)
            {
                selectedEmployee = null;
                everythingSelected = false;
                message += "EndPaymentHours should be bigger than StartPaymentHours\n";
            }
            if (endPaymentsSum < startPaymentsSum)
            {
                selectedEmployee = null;
                everythingSelected = false;
                message+="EndPaymentSum should be bigger than StartPaymentSum\n";
            }
            popup.Show(message);
            message = "";
        }
        else
        {
            everythingSelected = true;
        }
    }

    private async void Refresh()
    {
        //CheckSelection();
        CheckSelection();
        //teamResponse = await _teamService.GetTeamsByDAyAndShift(DateTime.UtcNow.AddDays(-9));
        popup.ShowErrorsOrAssign(await _employeeService.GetEmployeesReport(startTime, endTime, startPaymentsSum, endPaymentsSum, startPaymentsHours, endPaymentsHours), ref allPatients);
        //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        StateHasChanged();

    }
    private async void FetchData()
    {
        isFetched = true;
        popup.ShowErrorsOrAssign(await _employeeService.GetParamedicReport(selectedEmployee[0].Id, startTime, endTime), ref currentParamedic);
        StateHasChanged();
    }
}