@page "/admin/patientsreport"

@using MediMove.Client.temp;
@using MediMove.Shared.Models.DTOs
@using MediMove.Client.Services
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@using System.ComponentModel.DataAnnotations;
@using Radzen.Blazor
@inject MediMoveAuthenticationStateProvider _stcateProvider
@inject PatientService _patientService
@inject NavigationManager _navigationManager

<Popup @ref="popup" />

<h3>AdminPatientsReport</h3>

@*<form>
    <label for="monthPicker">Select Month and Year:</label>
    <input type="month" id="monthPicker" name="monthPicker" />
    <input type="submit" value="Submit" />
</form>*@

<div class="form-group" style="display:flex">
    <div class="input-group">
        <RadzenLabel Text="Start Time" Associated="startTime" />
        <RadzenDatePicker @bind-Value="@startTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="End Time" Associated="endTime" />
        <RadzenDatePicker @bind-Value="@endTime" ShowTime="false" DateFormat="dd.MM.yyyy" />
    </div>

    <div class="input-group">
        <RadzenLabel Text="Start Amount Sum" />
        <RadzenNumeric TValue="decimal" Format="0.00 zł" @bind-Value="@startAmount"/>
    </div>

    <div class="input-group">
        <RadzenLabel Text="End Amount Sum" />
        <RadzenNumeric TValue="decimal" Format="0.00 zł" @bind-Value="@endAmount" />
    </div>
</div>
<div>
    <RadzenButton class="btn btn-primary" Text="Show Results" Click="@Refresh" />
</div>

@if (everythingSelected)
{
    <div style="display: flex; align-items: center; margin-bottom: 16px">
        <RadzenButton Click="@ClearSelection" Text="Clear Selection" />
        @if (selectedPatient?.Any() == true)
        {
            <div style="margin-left: 16px">
                Selected Patient: @selectedPatient[0].FirstName @selectedPatient[0].LastName
            </div>
        }
    </div>    <div>
        <RadzenDataGrid TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow"
                        Data="@allPatients?.Rows" AllowFiltering="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                        AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedPatient>
            <Columns>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="Id" Title = "Id"/>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="Weight" Title = "Weight"/>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="FirstName" Title = "First Name"/>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="LastName" Title = "Last Name"/>
                @*                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="StreetAddress" Title = "Street Adress"/>*@
                @*                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="HouseNumber" Title = "House Number"/>*@
                @*                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="ApartmentNumber" Title = "Apartment Number"/>*@  
                @*                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="PostalCode" Title = "Postal Code"/>*@            
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="Country" Title = "Country"/>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="PhoneNumber" Title = "Phone Number"/>
                <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="PaymentsSum" Title = "Payments Sum"/>
                @* <Template Context="detail
            <RadzenLabel Text="@detail.SalarySum.ToString("C", new System.Globalization.CultureInfo("pl-PL"))" />
            </Template>*@
            </Columns>
        </RadzenDataGrid>
    </div>
}
@if (selectedPatient?.Any() == true)
{
    <div>
        <RadzenButton class="btn btn-primary" Text="Show data" Click="@FetchData" />
    </div>
    @if (isFetched == true)
    {
        <div>
            <RadzenDataGrid TItem="PatientDTO" Data="@PatientDetails" AllowFiltering="true"
            AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" SelectionMode="DataGridSelectionMode.Single" >
                <Columns>
                    <RadzenDataGridColumn TItem="PatientDTO" Property="City" Title="City" />
                    <RadzenDataGridColumn TItem="PatientDTO" Property="StreetAddress" Title = "Street Adress"/>
                    <RadzenDataGridColumn TItem="PatientDTO" Property="HouseNumber" Title="House Number" />
                    <RadzenDataGridColumn TItem="PatientDTO" Property="ApartmentNumber" Title="Apartment Number" />
                    <RadzenDataGridColumn TItem="PatientDTO" Property="PostalCode" Title="Postal Code" />
                    <RadzenDataGridColumn TItem="PatientDTO" Property="StateProvince" Title="State Province" />
                    @* <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="Country" Title="Country" />
                    <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="PhoneNumber" Title="Phone Number" />
                    <RadzenDataGridColumn TItem="GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow" Property="PaymentsSum" Title="Payments Sum" />
                   *@ @* <Template Context="detail
            <RadzenLabel Text="@detail.SalarySum.ToString("C", new System.Globalization.CultureInfo("pl-PL"))" />
            </Template>*@
                </Columns>
            </RadzenDataGrid>
        </div>
    }
}

@code {
    private DateTime startTime = DateTime.Today;
    private DateTime endTime = DateTime.Today;
    private decimal startAmount = (decimal)0;
    private decimal endAmount = (decimal)0;
    private bool everythingSelected = false;
    private bool isSelected = false;
    private bool isFetched = false;
    IList<GetPatientsByDateAndPaymentsSumDTO.GetPatientsByDateAndPaymentsSumRow> selectedPatient;


    private GetPatientsByDateAndPaymentsSumDTO allPatients;
    private GetPatientsByDateAndPaymentsSumDTO allEmployeesInMonthByHoursAndSalaryResponse;// Replace with the appropriate type and initialization
    private List<PatientDTO> PatientDetails = new List<PatientDTO>();
    private string message = "";
    private Popup popup = new();
    //private CreatePatientRequest createPatientDTO = new CreatePatientRequest();
    void ClearSelection()
    {
        selectedPatient = null;
        isSelected = false;
        StateHasChanged();
    }
    private void CheckSelection()
    {
        if (endTime < startTime || endAmount < startAmount)
        {
            if (endTime < startTime)
            {
                selectedPatient = null;
                everythingSelected = false;
                message += "EndTime should be further in the future than StartTime\n";
            }
            if (endAmount < startAmount)
            {
                selectedPatient = null;
                everythingSelected = false;
                message += "EndAmount should be bigger than StartAmount\n";
            }
            popup.Show(message);
            message = "";
        }
        else
        {
            everythingSelected = true;
        }
    }

    private async void Refresh()
    {
        //CheckSelection();
        CheckSelection();
        popup.ShowErrorsOrAssign(await _patientService.GetPatientsReport(startTime, endTime, startAmount, endAmount), ref allPatients);
        //NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        StateHasChanged();
    }

    private async void FetchData()
    {
        isFetched = false;
        GetAllPatientsResponse temp = new(new Dictionary<int, PatientDTO>());

        popup.ShowErrorsOrAssign(await _patientService.GetPatients(), ref temp);
        var det = temp.Patients.Where(p => p.Key == selectedPatient[0].Id).Select(p => p.Value).First();
        PatientDetails.Clear();
        PatientDetails.Add(det);
        isFetched = true;
        StateHasChanged();
    }
}
